

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li ><a href="#">Dashboard</a></li>
        </ul>
    </div>
</nav>


<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-head-line">Admin Dashboard</h4>

            </div>

        </div>

        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <a ng-click="loadData()">
                    <div class="dashboard-div-wrapper bk-clr-one">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        <!--<div class="progress progress-striped active">-->
                            <!--<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">-->
                            <!--</div>-->

                        <!--</div>-->
                        <h5>Load Excel </h5>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <a ng-click="goToModels()">
                    <div class="dashboard-div-wrapper bk-clr-two">
                        <i class="fa fa-qrcode" aria-hidden="true"></i>
                        <!--<div class="progress progress-striped active">-->
                            <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">-->
                            <!--</div>-->

                        <!--</div>-->
                        <h5>Models and Services</h5>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
                <a ng-click="goToReportGeneration()">
                    <div class="dashboard-div-wrapper bk-clr-seven">
                        <i class="fa fa-archive" aria-hidden="true"></i>
                        <!--<div class="progress progress-striped active">-->
                        <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">-->
                        <!--</div>-->

                        <!--</div>-->
                        <h5>Work Report Generation</h5>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
                <a ng-click="goToAdditionals()">
                    <div class="dashboard-div-wrapper bk-clr-eight">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        <!--<div class="progress progress-striped active">-->
                        <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">-->
                        <!--</div>-->

                        <!--</div>-->
                        <h5>Additionals</h5>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
                <a ng-click="goToMeasures()">
                    <div class="dashboard-div-wrapper bk-clr-nine">
                        <i class="fa fa-exclamation" aria-hidden="true"></i>
                        <!--<div class="progress progress-striped active">-->
                        <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">-->
                        <!--</div>-->

                        <!--</div>-->
                        <h5>Measures</h5>
                    </div>
                </a>
            </div>

            <!--<div class="col-md-3 col-sm-3 col-xs-6">-->
                <!--<a ng-click="registerOrder()">-->
                    <!--<div class="dashboard-div-wrapper bk-clr-three">-->
                        <!--<i  class="fa fa-cogs dashboard-div-icon" ></i>-->
                        <!--&lt;!&ndash;<div class="progress progress-striped active">&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->

                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--<h5>Register Order</h5>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
            <div class="col-md-3 col-sm-3 col-xs-6">
            <a ng-click="goToInstructions()">
                <div class="dashboard-div-wrapper bk-clr-four">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                    <!--<div class="progress progress-striped active">-->
                    <!--<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">-->
                    <!--</div>-->

                    <!--</div>-->
                    <h5>Instructions</h5>
                </div>
            </a>
        </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
                <a ng-click="goToRegistration()">
                    <div class="dashboard-div-wrapper bk-clr-five">
                        <i class="fa fa-male" aria-hidden="true"></i>
                        <!--<div class="progress progress-striped active">-->
                        <!--<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">-->
                        <!--</div>-->

                        <!--</div>-->
                        <h5>User Registration</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <a ng-click="goTojobRegistration()">
                    <div class="dashboard-div-wrapper bk-clr-six">
                        <i class="fa fa-wrench" aria-hidden="true"></i>
                        <!--<div class="progress progress-striped active">-->
                        <!--<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">-->
                        <!--</div>-->

                        <!--</div>-->
                        <h5>Job Registration</h5>
                    </div>
                </a>
            </div>
        </div>

    </div>

</div>