<spinner name="html5spinner" ng-cloak="">
    <div class="overlay"></div>
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
    <div class="please-wait">Please Wait...</div>
</spinner>

<nav class="navbar navbar-default">
    <div class="navbar-header">
        <ul class="nav navbar-nav">
            <li><a href="#">Model</a> </li>

        </ul>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class='pull-right'>

                <a ng-click='goToDashboard()'>

                    <i class="fa fa-reply" aria-hidden="true"></i>

                </a>

            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h4 class="page-head-line">Model</h4>
         </div>

    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Models
            <div class="pull-right">
                <a  id="addModel" ng-click="addNewModel()">
                    <i class="fa fa-book" style="color: HighlightText" aria-hidden="true">Add Model</i>
                </a>
            </div>

        </div>

        <div class="panel-body">

            <div class="row">

                <div>

                    <table class="table">

                        <thead>

                        <tr>

                            <th>Model</th>

                            <th>Service Type</th>

                        </tr>

                        </thead>

                        <tbody>

                        <tr ng-repeat="mdl in model">

                            <td>

                                <div ng-hide="showEditable(mdl)">

                                    {{mdl.MName}}

                                </div>

                                <div ng-show="showEditable(mdl)">

                                    <input type="text" ng-model="mdl.MName">

                                </div>

                            </td>

                            <td >

                                <div ng-repeat="service in mdl.services">

                                    <div class="row">
                                        <div class="col-xs-4" ng-hide="showEditable(mdl)">{{service.MType}}</div>
                                        <div class="col-xs-4" ng-hide="showEditable(mdl)">{{service.Employee}}</div>
                                        <div class="col-xs-4" ng-hide="showEditable(mdl)">
                                            {{(service.Flag == '0')?'InActive':'Active'}}
                                        </div>
                                    </div>
                                    <div ng-show="showEditable(mdl)" class="row">
                                        <input type="text" placeholder="Service Type" ng-model="service.MType">
                                        <input type="text"  placeholder="Employee" ng-model="service.Employee">
                                        <select ng-model = "service.Flag">

                                            <option value="{{a.id}}" ng-repeat="a in flags">{{a.value}}</option>

                                        </select>
                                        <a ng-click="removeAService(mdl,service)"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                                    </div>

                                </div>
                                <a ng-show="showEditable(mdl)"ng-click="addNewService(mdl)"><i class="fa fa-plus-circle" aria-hidden="true">Add Service</i></a>


                            </td>

                            <td>

                                <a ng-hide="showEditable(mdl)" ng-click="editModel(mdl)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></a>
                                <a ng-hide="showEditable(mdl)" ng-click="deleteModel(mdl)"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                                <a ng-show="showEditable(mdl)" ng-click="updateModel(mdl)"><i class="fa fa-check" aria-hidden="true"></i></a>
                                <a ng-show="showEditable(mdl)" ng-click="cancelEdit(mdl)"><i class="fa fa-close" aria-hidden="true"></i></a>

                            </td>

                        </tr>

                        </tbody>


                    </table>


                </div>

            </div>

        </div>

    </div>

</div>