<nav class="navbar navbar-default">
    <div class="navbar-header">
        <ul class="nav navbar-nav">
            <li><a href="#">Load Excel</a></li>

        </ul>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class='pull-right'>

                <a ng-click='goToDashboard()'>

                    <i class="fa fa-reply" aria-hidden="true"></i>

                </a>

            </li>
        </ul>
    </div>
</nav>


<div class="container">


    <div class="row">
        <div class="col-md-12">
            <h4 class="page-head-line">Load Excel</h4>
        </div>
    </div>

    <div class="container-fluid">

        <div class="form">

            <div class="form-group">

                <label class="control-label" for="model">Choose Model</label>

                <select id="model" ng-model="choosenModel" ng-change="modelSelected(choosenModel)" class="form-control">

                    <option ng-value="mdl.modelName" ng-repeat="mdl in models">{{mdl.modelName}}</option>

                </select>

            </div>

            <div class="form-group">

                <label class="control-label" for="serviceType">Choose Service</label>

                <select id="serviceType" ng-model="choosenService" ng-change="serviceSelected(choosenService)" class="form-control">

                    <option ng-value="service.serviceName" ng-repeat="service in services">{{service.serviceName}}</option>

                </select>

            </div>

        </div>

    </div>

    <div ng-show="loadExcel" class="jumbotron">

            <input type="file" ngf-select ng-model="file" name="file" ngf-max-size="20MB" id="fileInput" onchange="angular.element(this).scope().loadData(this.files)"/>

    </div>

</div>